<header class="header section-header">
  <div class="container container-header">
    <nav class="nav-header">
      <ul class="nav-list list">
        <li class="nav-item item">
          <a class="nav-link home link" href="./index.html">Home</a>
        </li>
        <li class="nav-item item">
          <a class="nav-link favorites link current" href="./favorites.html"
            >Favorites</a
          >
        </li>
      </ul>

      <a class="logo-header link" href="./index.html"
        >tasty<span class="logo-color">treats.</span></a
      >

      <a
        class="shopping-link link"
        href="tel:+380730000000"
        rel="noopener noreferrer"
        aria-label="shopping-cart"
      >
        <svg class="shopping-icon" width="24" height="24">
          <use
            href="/src/images/header/icons.svg#icon-shopping-cart-dark"
          ></use>
        </svg>
      </a>

      <a href="">
        <svg class="theme-switche" width="46" height="20">
          <use href="/src/images/header/icons.svg#icon-switch-green"></use>
        </svg>
      </a>

      <button
        class="header-menu-btn js-open-menu"
        type="button"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <img src="/src/images/header/svg/menu-dark.svg" alt="" />

        <!-- <svg class="header-menu-icon" width="32" height="32">
          <use href="/src/images/header/svg/menu-dark.svg"></use>
        </svg> -->
      </button>
    </nav>
  </div>
</header>
