<header class="header">
  <div class="container">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, aliquam.</p>
    <nav>
      <ul>
        <li><a href="./index.html">Home</a></li>
        <li><a href="./favorites.html">Favorites</a></li>
      </ul>
    </nav>
    <button class="btn">Order now</button>
    <button class="btn btn-outline">Order now</button>
    <button class="btn btn-outline-grey">Order now</button>
    <button class="btn btn-primary">Order now</button>
  </div>
</header>
