<ul class="projects">
    <li class="projects_items">
        <a class="projects_recipes" href="">
            <div class="projects_overlay">
        
                    <img 
                    src="./images/recipes/Banana" alt=""
                    width="250">
                <svg class="menu-icon"> <use  href="./image/sprite.svg#icon-heart"></use>
                </use>
            </svg>
    
                <h2 class="projects__title">BANANA PANCAKES</h2>
                <p class="projects__description"> Banana pancakes are a fluffy and sweet breakfast dish made with mashed ripe bananas, eggs, flour, and a touch of cinnamon, cooked to perfection on a skillet and served with toppings of your choice.
                </p>
                <button class="btn-popup">See recipe</button>
            </div>

        </a>
    </li>
    
</ul>
