<div class="filters">
  <ul class="filter-box">
    <li class="filtr-search filtr-stail-box">
      <p class="titl-filter">Search</p>
      <span>
        <lable class="input-box">
          <input
            class="input-form stail-tex-form js-input"
            type="text"
            name="searchQuery"
            autocomplete="off"
            placeholder="Enter Text"
          />
          <svg class="svg-serch js-icon-serch" width="18" height="18">
            <use href="./images/sprite.svg#icon-search"></use>
          </svg>
          <svg class="svg-serch-clous js-clear-input" width="18" height="18">
            <use href="./images/sprite.svg#icon-close"></use>
          </svg>
        </lable>
      </span>
    </li>
    <li class="filter-time filtr-stail-box">
      <p class="titl-filter">Time</p>
      <select class="time-select stail-tex-form">
        <option>0 min</option>
      </select>
    </li>
    <li class="filter-area filtr-stail-box">
      <p class="titl-filter">Area</p>
      <select class="area-select stail-tex-form">
        <option>Region</option>
      </select>
    </li>
    <li class="filtr-ingr filtr-stail-box">
      <p class="titl-filter">Ingredients</p>
      <select class="ingredients-select stail-tex-form">
        <option>Product</option>
        <option>Product1</option>
        <option>Product2</option>
      </select>
    </li>
  </ul>
</div>
