<section class="hero-section">
  <div class="container">
    <div class="desktop">
      <div class="hero-wrapper">
        <h1 class="hero-title">
          Learn to Cook <span> Tasty Treats'</span> Customizable Masterclass
        </h1>
        <p class="description">
          TastyTreats - Customize Your Meal with Ingredient Options and
          Step-by-Step Video Guides.
        </p>
        <button class="btn btn-hero">Order now</button>
      </div>

      <div class="slider">
        

<!-- <div class="slider-item-cook">
  <img src="./images/slider/cook1.png" alt="">
</div>

<div class="slider-item-topic">
  <img src="./images/slider/topic1.png" alt="">
  <div class="info">
    <p class="description">
    </p>
    <p class="country">
    </p>
  </div>
</div>
<div class="slider-item-finally">
  <img src="./images/slider/finally1.png" alt="">
</div>


<div class="slider-item-cook">
  <img src="./images/slider/cook2.png" alt="">
</div>

<div class="slider-item-topic">
  <img src="./images/slider/topic2.png" alt="">
  <div class="info">
    <p class="description">
    </p>
    <p class="country">
    </p>
  </div>
</div>
<div class="slider-item-finally">
  <img src="./images/slider/finally2.png" alt="">
</div>

<div class="slider-item-cook">
  <img src="./images/slider/cook3.png" alt="">
</div>

<div class="slider-item-topic">
  <img src="./images/slider/topic3.png" alt="">
  <div class="info">
    <p class="description">
    </p>
    <p class="country">
    </p>
  </div>
</div>
<div class="slider-item-finally">
  <img src="./images/slider/finally3.png" alt="">
</div>  -->



    

    </div>
  </div>
</section>
