<section class="hero-section">
  <div class="container">
    <div class="desktop">
      <div class="hero-wrapper">
        <h1 class="hero-title">
          Learn to Cook <span> Tasty Treats'</span> Customizable Masterclass
        </h1>
        <p class="description">
          TastyTreats - Customize Your Meal with Ingredient Options and
          Step-by-Step Video Guides.
        </p>
        <button class="btn btn-hero">Order now</button>
      </div>

      <div class="slider">
        



       
<div class="slider-item">
  <img src="./images/1.png" alt="">
</div>
<div class="slider-item">
  <img src="./images/2.png" alt="">
</div>
<div class="slider-item">
  <img src="./images/3.png" alt="">
</div>






        

    

    </div>
  </div>
</section>
