<section class="hero-section">
  <div class="container">
<div class="desktop">
       <div class="hero-wrapper">
    <h1 class="hero-title">Learn to Cook <span> Tasty Treats'</span> Customizable Masterclass</h1>
    <p class="description">TastyTreats - Customize Your Meal with Ingredient Options and Step-by-Step Video Guides.</p>
    <button class="btn btn-hero">Order now</button>
  </div>
 
 
  <!-- Slider main container -->
<div class="slider">
  <!-- Additional required wrapper -->
  <div class="slider-wrapper">
    <!-- Slides -->
    <div class="slider-slide">Slide 1</div>
    <div class="slider-slide">Slide 2</div>
    <div class="slider-slide">Slide 3</div>
    ...
  </div>
</div>
 
</div> 

 
</div>
 
</section>
