<div class="backdrop backdrop--hidden js-backdrop-recipe">
  <div id="modal" class="modal container js-modal-recipe">
    <button type="button" class="modal-close-btn">
      <svg class="icon-close" width="20" height="20">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <!-- початок -->
    `
    <div class="wrap-recipe">
      <div class="modal-recipes-info">
        <div class="container-video">
          <div class="recipes-poster">
            <img class="recipes" src="#" alt="video-recipes" />
          </div>
          <div class="poster-overlay">
            <button type="button" class="youTube-BTN js-btn-openYouTube">
              <svg class="youTube-icon" width="38" height="38">
                <use href="./images/sprite.svg#icon-youtube"></use>
              </svg>
            </button>
          </div>
          <div class="trailer-box">
            <button type="button" class="tiezer-close-btn">
              <!-- class="trailer icon-close trailer-icon-close" -->
              <svg class="trailer icon-close" width="25" height="25">
                <use href="./images/sprite.svg#icon-close"></use>
              </svg>
            </button>
            <div class="tiezer">
              <!-- <iframe
                width="100%"
                height="100%"
                src="https://www.youtube.com/embed/YsJXZwE5pdY"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe> -->
            </div>
          </div>
        </div>
        <div class="recipes-information">
          <h2 id="modal-title" class="recipes-title js-title"></h2>
          <div>
            <ul class="all-rating">
              <li class="recipes-subtitle__rating">
                <span class="modal-rating">4.5</span>
              </li>
              <li class="recipes-inf js-minute">40 min</li>
            </ul>
            <!--ДОДАТИ РЕЙТИНГ SВG <svg class="" width="" height="">
      <use href=""></use>
    </svg> -->
          </div>
          <div class="recipes-container">
            <ul class="recipes-list">
              <li class="recipes-subtitle">
                Banana
                <p class="recipes-inf" p />
                1 large
              </li>
              <li class="recipes-subtitle">
                Eggs
                <p class="recipes-inf" p />
                2 medium
              </li>
              <li class="recipes-subtitle">
                Oil
                <p class="recipes-inf" p />
                1 tsp
              </li>
              <li class="recipes-subtitle">
                Pecan nuts
                <p class="recipes-inf" p />
                25 tsp
              </li>
              <li class="recipes-subtitle">
                Baking Powder
                <p class="recipes-inf" p />
                Pinch
              </li>
              <li class="recipes-subtitle">
                Raspberries
                <p class="recipes-inf" p />
                125 g
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="recipes-hashtags">
        <ul class="hashtags-list">
          <li class="hashtags">#Breakfast</li>
          <li class="hashtags">#Desert</li>
          <li class="hashtags">#Sweet</li>
        </ul>
      </div>
      <p class="cooking-recipes">
        Mash the ripe banana in a medium mixing bowl.<br />
        Add the egg and whisk together until well combined.<br />
        Add the flour, baking powder, cinnamon (if using), and salt, and stir
        until just combined.<br />
        Heat a non-stick skillet or griddle over medium heat and add the
        vegetable oil or melted butter.<br />
        Scoop the batter onto the skillet or griddle using a 1/4 cup measure,
        and cook for 2-3 minutes on each side, or until the pancakes are golden
        brown and cooked through. Serve warm with your favorite toppings such as
        maple syrup, sliced bananas, or whipped cream.
      </p>
      <div class="buttons-add">
        <button type="button" id="btn-add" class="btn-add">
          Add to favorite
        </button>
        <button type="button" class="btn-add">Give a rating</button>
      </div>
    </div>
    <!-- кінець -->
  </div>
</div>
