<div class="popular main">
  <h2 class="popular-group-title">Popular recipes</h2>
  <ul class="popular-list">
    <!-- <li class="popular-item" data-id="">
      <div class="popular-wraper">
        <img
          class="popular-img"
          src="https://res.cloudinary.com/ddbvbv5sp/image/upload/v1678561437/n2azvqwqwoggte9tevai.jpg"
          alt="Burek"
          loading="lazy"
          height="64"
          width="64"
        />
      </div>
      <div class="popular-containet-description">
        <h3 class="popular-title">French</h3>
        <p class="popular-description">
          A French omelette is a simple yet elegant dish made with whisked eggs,
          butter, salt, and pepper, cooked gently until light and fluffy, then
          folded over and served for a comforting and refined meal any time of
          day.
        </p>
      </div>
    </li>

    <li class="popular-item">
      <div class="popular-wraper">
        <img
          class="popular-img"
          src="https://res.cloudinary.com/ddbvbv5sp/image/upload/v1678561437/n2azvqwqwoggte9tevai.jpg"
          alt="Burek"
          loading="lazy"
          height="64"
          width="64"
        />
      </div>
      <div class="popular-containet-description">
        <h3 class="popular-title">Burek</h3>
        <p class="popular-description">
          Burek is a traditional Balkan pastry made with phyllo dough and a
          savory filling, usually of meat, cheese, or vegetables. It's a popular
          street food in the region and can be enjoyed as a snack or a meal.
        </p>
      </div>
    </li>

    <li class="popular-item">
      <div class="popular-wraper">
        <img
          class="popular-img"
          src="https://res.cloudinary.com/ddbvbv5sp/image/upload/v1678561437/n2azvqwqwoggte9tevai.jpg"
          alt="Burek"
          loading="lazy"
          height="64"
          width="64"
        />
      </div>
      <div class="popular-containet-description">
        <h3 class="popular-title">Burek</h3>
        <p class="popular-description">
          Burek is a traditional Balkan pastry made with phyllo dough and a
          savory filling, usually of meat, cheese, or vegetables. It's a popular
          street food in the region and can be enjoyed as a snack or a meal.
        </p>
      </div>
    </li>

    <li class="popular-item">
      <div class="popular-wraper">
        <img
          class="popular-img"
          src="https://res.cloudinary.com/ddbvbv5sp/image/upload/v1678561437/n2azvqwqwoggte9tevai.jpg"
          alt="Burek"
          loading="lazy"
          height="64"
          width="64"
        />
      </div>
      <div class="popular-containet-description">
        <h3 class="popular-title">Burek</h3>
        <p class="popular-description">
          Baked salmon is a flavorful and nutritious dish featuring tender and
          moist fillets seasoned with a blend of lemon juice, garlic, and olive
          oil.
        </p>
      </div>
    </li> -->
  </ul>
</div>
