<section class="search-recipe section">
  <div class="container container-recipe">
    <div class="search-recipe-right">
      <include src="./partials/all-category.html"></include>
      <include src="./partials/popular.html"></include>
    </div>
    <div class="search-recipe-left">
      <include src="./partials/filter.html"></include>
      <include src="./partials/cards.html"></include>
      <include src="./partials/pagination.html"></include>
      <include src="./partials/popular-mobile.html"></include>
    </div>
  </div>
</section>
