.all-categories-btn {
  margin-bottom: 24px;
  font-size: 18px;
  color: var(--primary-text-CH-color-05);
  border-color: var(--primary-text-CH-color-02);
  padding-left: 29px;
  padding-right: 29px;
}

.all-categories-btn.active {
  background-color: var(--main-color);
  color: var(--light-text-color);
  border: 1px solid var(--main-color);
  transition: all 0.3s;
}

.all-categiries-list-container {
  /* background-color: skyblue; */
  /* scrollbar-base-color: red; */
}
.all-categories-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 18px;
  height: 198px;
  overflow-y: scroll;
}
@media screen and (min-width: 768px) {
  .all-categories-list {
    height: 416px;
    gap: 24px;
  }
}

/* .all-categiries-list-container::-webkit-scrollbar {
  width: 8px;
  /* height: 116px;
  color: red; */

.all-categories-item-btn {
  border: none;
  background: none;
  color: var(--primary-text-CH-color-03);
  font-size: 14px;
  font-weight: 500;
  line-height: calc(18 / 14);
  cursor: pointer;
}

.all-categories-item-btn.active {
  color: var(--main-color);
}

/* .all-categories-item-btn:hover,
.all-categories-item-btn:focus {
  color: var(--main-color);
  border: none;
} */

@media screen and (min-width: 768px) {
  .all-categories-btn {
    margin-bottom: 30px;
  }

  .all-categiries-list-container {
    width: 176px;
    height: 416px;
  }

  .all-categories-btn {
    padding-left: 28px;
    padding-right: 28px;
  }
}

@media screen and (min-width: 1280px) {
  .all-categories-btn {
    margin-bottom: 30px;
  }

  .all-categiries-list-container {
    width: 235px;
    height: 416px;
  }
}

.menu-item {
  color: red;
}

.menu-item.acccent {
  color: green;
}
