.all-categories-btn {
  margin-bottom: 24px;
  font-size: 18px;
  color: var(--primary-text-color-05);
  border-color: var(--primary-text-color-02);
  padding-left: 29px;
  padding-right: 29px;
}

.all-categiries-list-container {
  height: 198px;
  /* background-color: skyblue; */
  overflow-y: scroll;
  scrollbar-base-color: red;
}

/* .all-categiries-list-container::-webkit-scrollbar {
  width: 8px;
  /* height: 116px;
  color: red; */

.all-categories-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.all-categories-item {
}

.all-categories-item-btn {
  border: none;
  background: none;
  color: var(--primary-text-color-03);
  font-size: 14px;
  font-weight: 500;
  line-height: calc(18 / 14);
}

.all-categories-item-btn:hover,
.all-categories-item-btn:focus {
  color: var(--main-color);
  border: none;
}

@media screen and (min-width: 768px) {
  .all-categories-btn {
    margin-bottom: 30px;
  }

  .all-categiries-list-container {
    width: 176px;
    height: 416px;
  }

  .all-categories-btn {
    padding-left: 28px;
    padding-right: 28px;
  }
}

@media screen and (min-width: 1280px) {
  .all-categories-btn {
    margin-bottom: 30px;
  }

  .all-categiries-list-container {
    width: 235px;
    height: 416px;
  }
}
