.scroll-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #9BB537;
    color: #fff;
    opacity: 0.5;
    border-radius: 25px;
    cursor: pointer;
    z-index: 9995;
    transition: opacity 0.15s ease-in-out, transform 0.3s ease-in-out;
}

.scroll-btn-icon {
    
    width: 40px;
    height: 40px;
    fill: currentcolor;
}

.scroll-icon__hide {
    display: none;
}

.scroll-icon__hiding {
    opacity: 0;
    transform: translateY(100px);
}

@media (hover: hover) and (pointer: fine) {
    .scroll-icon:hover {
        background-color: #9BB537;
        opacity: 1;
    }
}