.projects__title{
    margin: 0;
    color:var(--light-text-color);
    width: 140px;
    height: 18px;
    top: 166px;
    left: 16px;

}
.projects__description{
    margin: 0;
    color: var(--light-text-color);
    width: 218px;
    height: 32px;
    top: 192px;
    left: 16px;

}

.btn-popup {
    width: Hug (93px);
    height: Hug (31px);
    padding: 8px 16px ;
    border-radius: 8px;
    gap: 10px;    
    color: color#9BB537;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
  }