@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--bgc-background);
}
body.overflowHidden {
  overflow: hidden;
}

.page {
  overflow: hidden;
}

.container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 100px;
  }
}

.section {
  padding-top: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Класи для таблиці recipe */
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--ident);
}

.items-set {
  flex-basis: calc((100% - var(--ident) * (var(--items) - 1)) / var(--items));
}

/* Стилі кнопок */
.btn {
  background: none;
  padding: 14px 28px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid var(--main-color);
}

.btn:hover {
  background-color: var(--main-color);
  color: var(--light-text-color);
  border: 1px solid var(--main-color);
  transition: all 0.3s;
}

.btn-outline {
  color: var(--primary-text-color);
}

.btn-outline-grey {
  color: var(--primary-text-color-05);
  border: 1px solid rgba(5, 5, 5, 0.2);
  font-size: 18px;
}

.btn-outline-grey:hover {
  color: var(--light-text-color);
}

.btn-primary {
  background-color: var(--main-color);
  color: var(--light-text-color);
}

.btn-primary:hover {
  color: var(--primary-text-color);
}
