:root {
  --primary-text-CH-color: #fff;
  --primary-text-CH-color-08: rgba(255, 255, 255, 0.8);
  --primary-text-CH-color-05: rgba(255, 255, 255, 0.5);
  --primary-text-CH-color-03: rgba(255, 255, 255, 0.3);
  --primary-text-CH-color-02: rgba(255, 255, 255, 0.2);
  --primary-text-CH-color-RATING: rgba(255, 255, 255, 0.5);
  --primary-text-CH-color-STARS: rgba(255, 255, 255, 0.1);
  --primary-text-CH-color-CardTitle-Description: color: rgba(255, 255, 255, 0.80);
  --primary-text-CH-color-menu-mob:#9bb537;

  --bgc-CH-background: #161616;
  --bgc-CH-background-mob-menu:#050505;
}

.toggler-control {
  filter: invert(1);
}
.toggler-control:checked {
  filter: invert(0);
}
.toggler-status {
  filter: invert(1);
}
