.main-favorite.favorite {
  overflow-x: scroll;
}

.category-button-wrap {
  width: 100%;
}

.category-button-list {
  display: flex;
  /* overflow-x: scroll; */
  gap: 12px;
}

.category-button-button {
  padding-left: 18px;
  padding-right: 18px;
  border-color: rgba(5, 5, 5, 0.2);
  line-height: calc(18 / 14);
  color: var(--primary-text-color-03);
}

.category-button-button:hover,
.category-button-button:focus {
  background-color: var(--main-color);
}

@media screen and (min-width: 768px) {
  .category-button-button {
    font-size: 16px;
    line-height: calc(20 / 16);
  }
}

@media screen and (min-width: 1280px) {
}
.no-recipe-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .no-recipe-icon {
    margin-bottom: 32px;
  }
}

.no-recipes {
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .no-recipes {
    width: 481px;
    font-size: 16px;
    line-height: 24px;
  }
}