.main-favorite.favorite {
  padding-top: 40px;
}

@media screen and (min-width: 768px) {
  .main-favorite.favorite {
    padding-top: 64px;
  }
}

.category-button-wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.fav-cards__list {
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .fav-cards__list {
    margin-top: 32px;
  }
}

@media screen and (min-width: 768px) {
  .category-button-button {
    font-size: 16px;
    line-height: calc(20 / 16);
  }
}

.no-recipe-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .no-recipe-icon {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 768px) {
  .no-recipe-box {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.no-recipes {
  text-align: center;
  font-size: 14px;
  line-height: calc(18 / 14);
}

@media screen and (min-width: 768px) {
  .no-recipes {
    width: 481px;
    font-size: 16px;
    line-height: calc(24 / 16);
    margin: 0 auto;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.category-button-wrap .all-categories-btn {
  margin: 0;
  padding: 14px 18px;
  font-size: 16px;
  line-height: calc(20 / 16);
}
.fav-cards__list {
  --items: 1;
  --ident: 24px;
}

@media screen and (min-width: 768px) {
  .fav-cards__list {
    --items: 3;
    --ident: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .fav-cards__list {
    --items: 4;
    --ident: 16px;
  }
}
