.filter-box {
  width: 375px;
  display: flex;
  gap: 14px;
  flex-direction: row;
  flex-wrap: wrap;

  /* border-radius: 2px;
  border: 1px solid rgba(12, 59, 245, 0.893); */
}
.filtr-search {
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 335px;
  display: flex;
}
.input-box {
  position: relative;
}
.svg-serch {
  position: absolute;
  left: 18px;

  transform: translateY(-50%);
}
.input-form {
  display: flex;
  width: 335px;
  height: 46px;
  padding: 14px 122px 14px 18px;
  align-items: flex-start;
  gap: 32px;
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
}
.filter-time {
  width: 158px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.time-select {
  width: 100%;
  height: 46px;
  display: flex;
  padding: 14px 18px;
  justify-content: center;
  align-items: center;
  gap: 67px;

  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
}
.filter-area {
  width: 161px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.area-select {
  width: 100%;
  height: 46px;
  display: flex;
  padding: 14px 18px;
  justify-content: center;
  align-items: center;
  gap: 60px;

  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
}
.filtr-ingr {
  width: 188px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.area-select {
  width: 100%;
  height: 46px;
  display: flex;
  padding: 14px 18px;
  justify-content: center;
  align-items: center;
  gap: 60px;

  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
}
.ingredients-select {
  width: 100%;
  display: flex;
  padding: 14px 18px;
  justify-content: center;
  align-items: center;
  gap: 72px;

  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
}
.titl-filter {
  color: rgba(5, 5, 5, 0.5);
  font-size: 14px;
  font-family: Inter;
  font-weight: 500;
  line-height: 18px;
}

/* ----------- */
@media screen and (min-width: 768px) {
  .filter-box {
    width: 419px;
    gap: 16px;
  }
  .filtr-search {
    width: 278px;
  }
  .input-form {
    width: 278px;
    height: 48px;
  }
  .filter-time {
    width: 115px;
  }
  .filter-area {
    width: 147px;
  }
  .area-select {
    height: 48px;
  }
  .time-select {
    height: 48px;
  }
  .filter-titl {
    width: 141px;
  }
}

@media screen and (min-width: 1280px) {
  .filter-box {
    width: 780px;
  }
  .filter-time {
    width: 119px;
  }
  .time-select {
    width: 125px;
  }
}
