.hero-wrapper {
  width: 335px;

  padding-top: 137px;
  margin-bottom: 48px;

  text-align: left;
}

.hero-title {
  color: #050505;
  font-size: 26px;
  font-family: Inter;
  font-weight: 600;
  line-height: 120%;
  text-transform: uppercase;

  margin-bottom: 16px;
}
.hero-title span {
  color: var(--main-color);
  font-style: italic;
  font-weight: 400;
}

.hero-section .description {
  width: 335px;

  color: #050505;
  font-size: 14px;
  font-family: Inter;
  line-height: 18px;

  margin-bottom: 48px;
}
/* Слайдер */

.slider-item-cook {
}

.slider-item-cook img {
}
.slider-item-topic {
}

.slider-item-finally {
}

.slider-item-topic {
}

.slider-item-topic img {
}
.slider-item-topic .description {
}
.slider-item-topic .country {
}

.slider-item-finally {
}
.slider-item-finally img {
}

.slider-item {
}
/* slick */

.slick-track {
  display: flex;

  justify-content: center;
  align-items: center;

  min-width: 0;
  width: 781px;
  height: 402px;
}
.slick-slide img {
  display: block;
}

.slick-list {
  overflow: hidden;
}
.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
.slick-dots li {
  list-style: none;
}

.slick-dots button {
  width: 15px;
  height: 15px;
  border: 1px;
  color: antiquewhite;

  font-size: 0;
  border-radius: 50%;
}

.slick-dots li.slick-active button {
  background-color: var(--main-color);
}

/* @media screen and (min-width: 768px) {
  .hero-wrapper {
    width: 446px;

    margin-bottom: 32px;
  }

  .hero-title {
    font-size: 36px;
  }
  .hero-section .description {
    font-size: 16px;
    line-height: 24px;

    margin-bottom: 32px;
  }

  .slider {
    width: 871px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-wrapper {
    margin-bottom: 0;
  }

  .desktop {
    display: inline-flex;
    gap: 32px;
  }

  .slider {
    padding-top: 100px;
  }
} */
