:root {
  --primary-text-CH-color: #050505;
  --primary-text-CH-color-08: rgba(5, 5, 5, 0.8);
  --primary-text-CH-color-05: rgba(5, 5, 5, 0.5);
  --primary-text-CH-color-03: rgba(5, 5, 5, 0.3);
  --primary-text-CH-color-02: rgba(5, 5, 5, 0.2);
  --primary-text-CH-color-01: rgba(5, 5, 5, 0.1);
  --primary-text-CH-color-RATING: #f8f8f8;
  --primary-text-CH-color-STARS: rgba(248, 248, 248, 0.1);
  --primary-text-CH-color-CardTitle-Description: #f8f8f8;

  --bgc-CH-background: #f8f8f8;
}

.toggler-control {
  filter: invert(0);
}
.toggler-control:checked {
  filter: invert(1);
}
.toggler-status {
  filter: invert(0);
}
