@import url('./vars.css');
@import url('./common.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./search-recipe.css');
@import url('./all-category.css');
@import url('./filters.css');
@import url('./popular-recipes.css');
@import url('./all-recipes.css');
@import url('./pagination.css');
@import url('./pop-up.css');
