.pagination {
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .pagination {
    margin-top: 64px;
  }
}

.tui-pagination {
  height: 100%;
  line-height: normal;
  text-align: center;
  font-size: 0;
}
.tui-ico-ellip {
  background-color: var(--primary-text-CH-color);
}
.tui-pagination .tui-page-btn {
  background-color: var(--bgc-CH-background);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  font-size: 18px;
  font-weight: 600;
  line-height: calc(22 / 18);
  position: relative;
  color: var(--primary-text-CH-color);
  border-radius: 50%;
  border: 1px solid var(--border-paginatio);
}

.tui-pagination .tui-prev {
  margin-right: 14px;
}

.tui-pagination .tui-next {
  margin-left: 14px;
}

.tui-pagination .tui-first-child.tui-is-selected,
.tui-pagination .tui-last-child.tui-is-selected {
  border: none;
}

.pagination .pag__current-page {
  background-color: var(--main-color);
  margin-right: 8px;
}

.tui-pagination .tui-last-child.tui-is-selected {
  margin: 0;
}

.pagination .pag__current-page:hover {
  background-color: var(--main-color);
}

.tui-first-child {
  margin-right: 8px;
}

.pagination .pag__page-btn {
  margin: 0 8px 0 0;
}

.tui-pagination .tui-page-btn:last-child {
  margin-left: 4px;
}

.pagination .pag__btn-move {
  background: var(--main-color);
}

.tui-pagination .tui-page-btn:hover {
  background: var(--main-color);
}

.pagination .pag__btn-move:first-child {
  margin-right: 4px;
}

.pagination .pag__btn-disabled {
  background: var(--primary-text-color);
  border: 1px solid var(--primary-text-color);
}

.tui-pagination .tui-is-disabled:hover {
  background: var(--primary-text-color);
}

@media screen and (min-width: 768px) {
  .pagination .pag__current-page {
    margin: 0 10px 0 0;
  }

  .pagination .pag__page-btn {
    margin: 0 10px 0 0;
  }

  .tui-pagination .tui-next {
    margin-left: 24px;
  }

  .tui-pagination .tui-prev {
    margin-right: 24px;
  }

  .pagination .pag__btn-move:first-child {
    margin-right: 8px;
  }

  .tui-pagination .tui-page-btn:last-child {
    margin-left: 8px;
  }
}
