.backdrop {
    position: fixed;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                z-index: 1;
                overflow: hidden;
                visibility: visible;
                opacity: 1;
            background: rgba(0, 0, 0, 0.377);
            transition: opacity 500ms ease, visibility 500ms ease;
}
   
    .backdrop.active {
        visibility: visible;
        opacity: 1;
    }


.modal {
    width: 335px;
   max-height: 1171px;
    background-color: white;
    padding: 40px 20px;
    border-radius: 15px;
    /* position: relative; */
     position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
    /* display: none; */
     /* visibility: hidden;
    opacity: 0; */
    /* z-index: 30;  
    position: fixed; */

}

.modal.active {
    visibility: visible;
    opacity: 1;
}
.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close {
    display: inline-block;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;

}


    .icon-close:hover,
    .icon-close:focus {
        fill: var(--main-color);
        stroke: var(--main-color);
    }

.btn-add {
    width: 133px;
    height: 41px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
    border: 1px solid var(--main-color);
    border-radius: 15px;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}

    .btn-add:hover,
    .btn-add:focus {
        background-color: var(--main-color);
        color: #fff;
        border: 1px solid var(--main-color);
    }


.buttons-add {
    display: flex;
    align-items: center;
    gap: 16px;
}

.recipes-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    text-transform: uppercase;
    margin-bottom: 16px;
}

/* .text-cook {
    height: 161px;
} */

.cooking-recipes {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    margin-bottom: 40px;
    margin-top: 26px;
    width: 295px;
    height: 162px;
}


.recipes-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    color: var(--primary-text-color);
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--switch-color);
    padding-bottom: 6px;
        padding-top: 14px;
}

.recipes-subtitle__rating {
    border: none;
}

.recipes-inf {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.28;
    color: var(--switch-color);

}

.table-border {
    border-bottom: 1px solid var(--switch-color);
}


.recipes-container {
     height: 224px;
}


.modal-rating {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.28;
    color: var(--switch-color);
    padding-right: 40px;


}

.recipes-poster {
    position: relative;
    margin-bottom: 20px;
}

.poster {
    width: 240px;
    height: 357px;
    border-radius: 5px;
}

.hashtags-list {
    display: flex;
    gap: 8px;
    padding-top: 40px;
}
.hashtags {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 12px;
    border: 1px solid var(--switch-color);
    border-radius: 35px;
    padding: 8px 16px ;
    cursor: pointer;
}

.all-rating {
    display: flex;
    align-items: baseline;
    margin-bottom: 18px;
}

@media screen and (min-width: 768px) {
    .modal {
        width: 685px;
  
    }
    .btn-add {
    width: 156px;
    height: 45px;
    }
    .cooking-recipes {
        width: 621px;
        margin-top: 32px;
        margin-bottom: 32px;
    }
    .modal-recipes-info {
        display: flex;
        
    }
    .recipes-information {
        width: 238px;
    }
    .recipes {
        width: 332px;
        margin-right: 34px;
        height: 300px;
     
    }
    .modal {
        padding: 32px 32px;
    }
}

.youtube__btn {
    position: absolute;
    font-size: 70px;
    top: 50%;
    left: 50%;
    color: white;
    background: 0 0;
    border: none;
    transform: translate(-50%, -50%);
}

.background-image {
    height: 35px;
    width: 30px;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Стилі для скролу */
.recipes-container::-webkit-scrollbar {
    width: 10px;
}
.recipes-container::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    /* колір фону треку */
}
.recipes-container::-webkit-scrollbar-thumb {
    background-color: #888888;
    border-radius: 5px;
    
}
.recipes-container::-webkit-scrollbar-thumb:hover {
    background-color: #9BB537;
}


