.container-recipe {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.search-recipe-right {
    padding-top: 26px;
    width: 100%;
}

.search-recipe-left {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .search-recipe-right {
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 768px) {
    .container-recipe {
        flex-direction: row;
    }

    .search-recipe-right {
        width: 176px;
    }

    .search-recipe-left {
        width: 496px;
    }
}
@media screen and (min-width: 1280px) {
    .search-recipe-right {
        width: 235px;
    }

    .search-recipe-left {
        width: 782px;
    }
}