<section class="section main-favorite favorite">
  <div class="container main-fav">
    <div class="category-button-wrap"></div>
    <ul class="fav-cards__list cards__list card-set"></ul>

    <div class="no-recipe-box visually-hidden">
      <div class="no-recipe-icon">
        <svg width="68" height="58">
          <use href="/src/images/sprite.svg#icon-elements-1"></use>
        </svg>
      </div>
      <p class="no-recipes">
        It appears that you haven't added any recipes to your favorites yet. To
        get started, you can add recipes that you like to your favorites for
        easier access in the future.
      </p>
    </div>
    <div
      id="tui-pagination-container"
      class="pagination favorite__pagintaion tui-pagination"
    ></div>
  </div>
</section>
