<section class="section hero-favorite js-hero-favorite">
  <div class="container">
    <picture>
      <source
        srcset="
          ./images/card-favorites-hero-1080-1x.jpg 1x,
          ./images/card-favorites-hero-1080-2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />

      <source
        srcset="
          ./images/card-favorites-hero-704-1x.jpg 1x,
          ./images/card-favorites-hero-704-2x.jpg 2x
        "
        media="(min-width: 768px)"
      />

      <source
        srcset="
          ./images/card-favorites-hero-335-1x.jpg 1x,
          ./images/card-favorites-hero-335-2x.jpg 2x
        "
      />
      <img src="./images/card-favorites-hero-335-1x.jpg" alt="тарілка з їжею" />
    </picture>
  </div>
</section>
